USER_ID=
TOKEN=
QRISPW_API_KEY=
QRISPW_API_SECRET=
PTERO_URL=https://panel.lumihost.com
COUPON_API_KEY=yourcouponkey
PTERO_APP_KEY=ptla_×××××××××
PTERO_CLIENT_KEY=ptlc_××××××××
PTERO_NODE_ID=1
PTERO_MC_NEST_ID=1
PTERO_MC_PAPER_EGG_ID=2
PTERO_MC_FORGE_EGG_ID=3
PTERO_MC_VANILA_EGG_ID=4
PTERO_MC_BEDROCK_EGG_ID=23
PTERO_MC_VELOCITY_EGG_ID=24
PTERO_MC_WATERFALL_EGG_ID=25
PTERO_MC_LIMBO_EGG_ID=26
PTERO_NODE_NEST_ID=5
PTERO_NODE_EGG_ID=15
PTERO_ALLOCATION_ID=1